body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    z-index: 1000; 
    position: relative; 
}

a:hover {
    background-color: #0056b3;
}

nav {
    background-color: #111; 
    color: #fff;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

a, nav {
    z-index: 10; 
}

#center_title {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}

#portfolio-right ul {
    list-style-type: none; 
    padding: 0; 
}

#portfolio-right ul li {
    margin-bottom: 10px; 
}

#bottom-link {
    position: fixed;
    bottom: -700px; 
    left: 50%;
    transform: translateX(-50%);
}

#portfolio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 20px; 
    left: 50%;
    transform: translateX(-50%);
    width: 80%; 
    padding: 20px;
    color: white;
    font-family: Arial, sans-serif;
    z-index: 1; 
}

#portfolio-left, #portfolio-right {
    flex: 1;
}

#portfolio-right {
    text-align: right;
}

h1 {
    margin: 0;
}



#projects-button {
    position: fixed;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999; 
}


/* Stars */
.star {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: white;
}

/* Star animation */
@keyframes twinkling {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}


/* Planets */

#stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
  }
  
  .planet {
    position: absolute;
    border-radius: 50%;
    background-color: #fff; /* Add a color for visibility */
    width: 50px;
    height: 50px;
    /* Other planet-specific styles */
  }

/* Individual planet styles */

#mercury {
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: #aa563f;
    top: 50%;
    left: 50%;
    animation: orbit-mercury 4s linear infinite; 
}

#venus {
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: #b19e95;
    top: 50%;
    left: 50%;
    animation: orbit-venus 8s linear infinite; 
}

#earth {
    width: 35px;
    height: 35px;
    background-color: #5d97c3; 
    position: absolute;
    top: 50%;
    left: 50%;
    animation: orbit-earth 12s linear infinite;
}

#mars {
    width: 25px;
    height: 25px;
    background-color: #aa563f; 
    position: absolute;
    top: 50%;
    left: 50%;
    animation: orbit-mars 18s linear infinite;
}

#jupiter {
    width: 70px;
    height: 70px;
    background-color: #b19e95; 
    position: absolute;
    top: 50%;
    left: 50%;
    animation: orbit-jupiter 30s linear infinite;
}

#saturn {
    width: 60px;
    height: 60px;
    background-color: #dcc9b6; 
    position: absolute;
    top: 50%;
    left: 50%;
    animation: orbit-saturn 45s linear infinite;
}

#uranus {
    width: 45px;
    height: 45px;
    background-color: #79a2c2; 
    position: absolute;
    top: 50%;
    left: 50%;
    animation: orbit-uranus 60s linear infinite;
}

#neptune {
    width: 40px;
    height: 40px;
    background-color: #366494; 
    position: absolute;
    top: 50%;
    left: 50%;
    animation: orbit-neptune 80s linear infinite;
}

#sun {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

@keyframes orbit-mercury {
    from { transform: rotate(0deg) translateX(80px) rotate(0deg); }
    to { transform: rotate(360deg) translateX(80px) rotate(0deg); }
}

@keyframes orbit-venus {
    from { transform: rotate(0deg) translateX(120px) rotate(0deg); }
    to { transform: rotate(360deg) translateX(120px) rotate(0deg); }
}

@keyframes orbit-earth {
    from { transform: rotate(0deg) translateX(160px) rotate(0deg); }
    to { transform: rotate(360deg) translateX(160px) rotate(0deg); }
}

@keyframes orbit-mars {
    from { transform: rotate(0deg) translateX(200px) rotate(0deg); }
    to { transform: rotate(360deg) translateX(200px) rotate(0deg); }
}

@keyframes orbit-jupiter {
    from { transform: rotate(0deg) translateX(240px) rotate(0deg); }
    to { transform: rotate(360deg) translateX(240px) rotate(0deg); }
}

@keyframes orbit-saturn {
    from { transform: rotate(0deg) translateX(280px) rotate(0deg); }
    to { transform: rotate(360deg) translateX(280px) rotate(0deg); }
}

@keyframes orbit-uranus {
    from { transform: rotate(0deg) translateX(320px) rotate(0deg); }
    to { transform: rotate(360deg) translateX(320px) rotate(0deg); }
}

@keyframes orbit-neptune {
    from { transform: rotate(0deg) translateX(360px) rotate(0deg); }
    to { transform: rotate(360deg) translateX(360px) rotate(0deg); }
}
