body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: black;
    height: 100vh; 
    color: #fff; 
}


a:hover {
    background-color: #0056b3;
}

nav {
    background-color: #111; 
    color: #fff;
    padding: 20px 30px;
    position: relative;
    z-index: 10;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    padding: 15px 20px;
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff;
}

/* Project styles */
.card1 {
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
    padding: 20px;
    margin: 20px auto;
    border: 1px solid #ddd;
}

.wide-card1 {
    max-width: 800px;
    width: 90%;
}

.project-link {
    color: #ddd; 
    font-weight: bold; 
    text-decoration: underline; 
    border: none; 
    background-color: transparent; 
    padding: 0; 
    transition: color 0.3s ease; 
}

.project-link:hover {
    color: #00cc77; 
    text-decoration: none; 
}


/* Resume Page Styles */
.resume-container {
    text-align: center;
}

.resume {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.resume:hover {
    background-color: #0056b3;
}

